<main>
  <div>
    <img src="../../../assets/images/Logo (4).svg">
  </div>
  <div>
    <input type="text" placeholder="Username">
  </div>
  <div>
    <input type="password" placeholder="Password">
  </div>
  <div>
    <input type="number" placeholder="Server">
  </div>
  <div>
    <button type="submit"> Log In
      <i class="ms-2 fa fa-arrow-right" aria-hidden="true"></i>
    </button>
  </div>
  <div>
    <a href="">Forgot Password?
    </a>
  </div>
  <i class="fa fa-paper-plane firstIcon" id="Icon" aria-hidden="true">
  </i>
  <button type="submit" class="send" id="send">
    <i class="fa fa-paper-plane" id="iconmin"></i> Send Diagnostic
  </button>
  <div class="footer">
    Copyright &copy; 2000-2021 Webalo, Inc <br>All rights reserved.<br><br>Version 10.0
  </div>
</main>
<script src="./script.js"></script>
