<section class="d-flex">
  <div class="txt">
    <div class="h3 m-auto mt-3 ">Dashboard</div>
  </div>
  <div class="dash_form">
    <form id="form">
      <i class="fa-solid fa-angle-down form-icon"></i>
      <select id="sel">
        <optgroup label="First Dashboard">
          <option>First Dashboard_0</option>
          <option>First Dashboard_1</option>
        </optgroup>
        <optgroup label="Second Dashboard">
          <option>Second Dashboard_0</option>
          <option>Second Dashboard_1</option>
        </optgroup>
          <option>Third Dashboard</option>
          <option>Fourth Dashboard</option>
      </select>
    </form>
  </div>
</section>
<app-footer></app-footer>
