footer{
  color: rgb(9, 118, 168);
  position: fixed;
  width: 100% ;
  font-size: 1.3rem ;
  font-weight: 300;
  bottom:0px;
  background: rgba(255, 255, 255, 0.399);
  backdrop-filter: blur(4px);
}
.footer_after_clicking{
  font-weight: 500;
}
.foot_element{
  position: relative;
  width:150px;
}
.foot_element:hover{
  cursor: pointer;
}
.footer_after_clicking:before{
  display: block;
  content: '';
  position: absolute;
  top: -0.5rem;
  left: 25%;
  width: 50%;
  height: .25rem;
  background:  rgb(9, 118, 168);
}
.container{
  justify-content: space-evenly;
  text-align: center;
  max-width: 100% ;
  margin: 0.5rem 0rem;
}
@media (max-width: 600px) {
  footer {
    font-size: 1rem ;
  }
  .footer_after_clicking:before{
    height: 0.15rem;
  }
}
@media (max-width: 370px) {
  footer {
    font-size: 0.7rem ;
  }
}
